/*professor's name*/
#name {
	margin-bottom: .5em;
	text-align: left;
}

.admin {
	text-align: center;
	font-style: italic;
	padding: 0 33.33%;
}

.wholeMess {
	max-width: 85%;
	margin: .3em 0;
	padding: .25em;

	/* allow message copying */
	-webkit-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text; 
}

/*sender's name below message*/
.name {
	font-size: .75em;
	margin-top: .25em;
}

.isProf {
	font-style: italic;
}

.send {
	float: right;
	text-align: right;
}

.receive {
	float: left;
}

#convo {
	margin: 0 auto;
	padding-right: .5em;
	height: 22.25em;
	list-style: none;
	overflow-y: scroll;
	padding-top: .2em;
	width: 100%;
}

#convo li {
	width: 100%;
	overflow: hidden;
}

#chatInp {
	position: absolute;
	height: 3em;
	bottom: 0;
	left: 0;
	padding: 0;
	font-size: 150%;
	width: 100%;
}

#sendButt {
	bottom: 4.75em;
	right: .5em;
	border-radius: 50%;
	position: absolute;
	background-color: #F7F7EF;
	background-image: url("../img/send.svg");
	height: 4.3725em;
	width: 4.3725em;
}

/* DESKTOP SCREENS */

@media (min-width: 650px) {
	#convo {
		height: 28.5em;
	}

	#chatInp {
		margin-top: .25em;
		position: relative;
		height: 3em;
		font-size: 150%;
		width: 100%;
	}

	#sendButt {
		position: relative;
		float: right;
		bottom: 5.5em;
		right: -5.5em;
		border-radius: 50%;
		background-color: #F7F7EF;
		background-image: url("../img/send.svg");
		height: 4.3725em;
		width: 4.3725em;
	}
}

/* SMALL PHONES */

@media (max-width: 350px) {
	#convo {
		height: 23em;
	}
}